.tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.tablinks {
  margin: 10px;
  border: none;
  color: white;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablinks:hover {
  background-color: #424242;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}
