.gitHubCard {
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  margin: auto;
}
.userAvatar {
  background-image: url("../../../assets/gitBG.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gitAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.followButton {
  background-color: #21262d;
  border: none;
  color: #b9c0c8;
  width: 100%;
}
