.expCard {
  border: 1px solid #ddd;
  background-color: #21262d;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.expCard:hover {
  background-color: #3c011062;
  transition: 0.3s;
  border: 1px solid #cf0c3d62;
}

.expCard:hover .jobName {
  transition: 0.3s;
  color: rgba(212, 1, 8, 0.586); /* Cambia esto al color que prefieras */
}

.expCard:hover .aptitude {
  transition: 0.3s;
  color: #cf0c3d;
  background-color: #5822226a;
}
.jobData {
  display: grid;
  grid-template-columns: 10% 60% 30%;
  align-items: flex-start;
}

.postAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.postCard h3 {
  margin: 5px 0;
}

.enterprise {
  font-size: 2rem;
  color: #717171;
}

.date {
  font-size: 5px;
  color: #717171;
}

.location {
  font-size: 5px;
  color: #717171;
}
.description {
  font-size: 5px;
  color: #b9b9b9;
}

.aptitude {
  border: 1px solid #cf0c3d62;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  background-color: #662f2f6a;
  color: #c03b3b;
}
